@charset utf-8;
/********공통스타일*****************/

* {
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
}

a {
/*    display: block;*/
    text-decoration: none;
    color: #fff;
}

* {
    box-sizing: border-box
}

body {
    font-family: Verdana, sans-serif;
    margin: 0
}

a:hover {
    color: #ECEFF1;
    text-decoration: none;
}

/***********header********************/


/***************main************************/

.main {
    width: 100%;
    height: 100%;
   

}

/***************main_slider************************/

.main_logo {
    position: absolute;
    left: 20%;
    top: 10%;
}

.main_logo img {
    padding: 10%;
    width: 70%;
    height: auto;
}
.carousel-inner {
    position: relative;
}

.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
    line-height: 1;
}
.item{
    position: absolute;
}
.container{
    position: absolute;
 
/*    position: fixed;*/

}
.carousel-caption {
    width: 50%;
    left: 5%!important;
    bottom: 10%!important;
    position: absolute;
}

.carousel-caption h1,
.carousel-caption p {
    color: #37474F;

}

.carousel-caption p {
    font-size: 2em;
    border: 1px solid #37474F;
    width: 30%;
    margin-left: 30%;
    padding: 5px;
    margin-top: 5%;
}

.carousel-control.right,
.carousel-control.left {
    background-image: none;
}

.carousel-indicators li {
    border: 1px solid #000;
    background-color: #37474F;
    transition: 0.1s;
}



/***********collection box***********************/

#gender{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    position: relative;
}
#women_watch{
    float: left;
    width: 40%;
    position: relative;
    margin-left: 5%;
/*    border: 1px solid red;*/
    
}
#women_watch img{
    width: 100%;
    display: block;
    border-radius: 20px;
}

#women_watch:hover .overlay_one{
    opacity: 0.8;
    
}
#women_watch:hover.text{
    font-size: 40px;
}

.overlay_one{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background: #F08714;
  border-radius: 20px;
}
.overlay_one .text a{
    border: 1px solid black;
    display: block;
    color: black;
    padding: 30px;
    font-weight: bold;
    
}
 

#man_watch{
    float: right;
    width: 40%;
    position: relative;
    margin-right: 5%;
    
    
}
#man_watch img{
    width: 100%;
    display: block;
    border-radius: 20px;
}

.overlay_two{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background: #141F35;
  border-radius: 20px;
}
.overlay_two .text a{
    border: 1px solid #F08714;
    display: block;
    color: #F08714;
    padding: 30px 60px;
    font-weight: bold;
    
    
}
 
#man_watch:hover .overlay_two{
    opacity: 0.8;
    
}

/*********content_01************/

.content_01 {
    width: 100%;
    overflow: hidden;
}

.title {
    width: 100%;
    height: 30%;
    margin-bottom: 50px;
    margin-top: 100px;
}

.title > h1 {
    width: 25%;
    margin-left: 40%;
    margin-bottom: 20px;
}

.title > h3 {
    width: 70%;
    margin-left: 15%;
    text-align: center;
    margin-bottom: 10px;
    color: #666;
}

#containerbox {
    width: 100%;
    height: 100%;
    margin-top: 30px;
}


/**************bxslider_img box**********************/
.prodoct_slider{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
/*    border: 1px solid red;*/
    z-index: 999;
}
.bxslider li img {
    width: 100%;
    height: auto;
}

.bx-wrapper {
    -webkit-box-shadow: none;
}

.bx-wrapper .bx-pager {
    display: none;
}
/****life imgs****/
#inlife{
    position: relative;
    width: 80%;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
}
.container_life_images {
  position: relative;
  width: 25%;
  float: left;
  margin-bottom: 50px;
  
}

.image {
  display: block;
  width: 100%;
  height: auto;

}

.overlay_three {
  position: absolute;
  top: 0;  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #141F35;
}

.container_life_images:hover .overlay_three {
  opacity: 0.8;
}
.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

/******title**********/
.content_1,
.content_2,
.content_3 {
    width: 33%;
    float: left;
    margin-left: 3px;
}
.content_1 a > img,
.content_2 a > img,
.content_3 a > img {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: auto;
    margin-bottom: 100px;
    display: block;


}

#menubtn {
    display: none;
}



/*  휴대폰(599px 이하) */

@media screen and (max-width: 599px) {
    .carousel-caption h1,
    .carousel-caption p {
    font-size: 14px;
    }
    #women_watch,#man_watch{
        width: 100%;   
    }
    #women_watch img,#man_watch img{
        border-radius: 0;
        
    }
    
    #women_watch{margin-left: 0;}
    #man_watch{margin-right: 0;}
    .overlay_one, .overlay_two{
        border-radius: 0;
    }
    .title h1 {
        font-size: 16px;
        width: 40%;
        
    }
    .title h3 {
        font-size: 14px;
    }

    .content_1,
    .content_2,
    .content_3 {
        width: 33%;
        float: left;
        margin-left: 3px;


    }
}

/*************footer*****************/
.fl_center{
    width: 100%;
    text-align: center;
    
}
